@import "tailwindcss";

:root {
  --background: #222828;
  --foreground: #ffffff;
  --card-bg: #424141;
  --accent-teal: #0B785E;
  --accent-burgundy: #9B1A37;
  --text-caboose: #A8A2A1;
  --border-homebush: #72706A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark;
}